@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 270px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/FondHeroScene.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text-justify {
    text-align: justify;
}

.image-card{
    position:relative;

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}

.image-card{
    position:relative;
    &:hover{
        .titre-image,
        .action-image-buttons{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }

        .action-image-buttons{
            position : absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 5px;
            display: flex;
            justify-content: space-between;
    
            opacity: 0;
            transition: all 0.3s;
        }
    }


.form-label {
    color: $primary;
}

.allreservations{
    a{
        display: block;
        color: $black;
        padding:10px;
    }
}

/* Styles de base pour la page Carte */

#menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-card h2 {
    margin-top: 0;
    color: #333;
}

.menu-card p {
    font-style: italic;
    color: #666;
}

.menu-card ul {
    list-style-type: none;
    padding: 0;
}

.menu-card ul li {
    margin: 5px 0;
}
